<html>
   <body>
      <br>
      <br>
      *****************************************************************************************************<br>
      **************************************** BASEMODULE SERVER **************************************<br>
      *****************************************************************************************************
      <br>
      <br>
      <br>
      <br>
      <h3>&#x2022; <a href=  "{{ url_for('f_sensors') }}">  Sensor monitor</a></h3>
      <h3>&#x2022; <a href="{{ url_for('f_swcontrol') }}">  Switch control</a> (authentication needed)</h3>
      <h3>&#x2022; <a href="{{ url_for('f_rescue') }}">  Rescue control</a> (authentication needed)</h3>
      <h3>&#x2022; To dump JSON sensor readings for DU with id [xx] use /dumpsensor/[xx]</h3>
      <br>
      <br>
      <br>
      <br>
      *****************************************************************************************************<br>
      *****************************************************************************************************
   </body>
</html>



