<html>
   <body>
      <form action = "{{ url_for('f_sensors') }}" method = "POST">
         <br>
         *******************************************************************************************************<br>
         **************************************** BASEMODULE SERVER ****************************************<br>
         ************************************************* <a href="{{ url_for('f_help') }}">HOME</a> ***********************************************
         <br>
         <br>
         <br>
         <p>
         &emsp; DU(s) = <input type = "text" name = "du" value= {{prefilldu}} /> (comma or single-space separated)
         <br>
         <br>
         <pre>
         <input type = "submit" value = "READ" name = "submit" style="background-color:blue;color:white"/>
         </pre>
         </p>
         {{msg}}
         <br>
         <br>
         <div>
            {{ table | safe }}
         </div>
         <br>
         <br>
         *****************************************************************************************************<br>
         *****************************************************************************************************
      </form>
   </body>
</html>



