<html>
   <body>
      <form action = "{{ url_for('swcontrol') }}" method = "POST">
         <br>
         <br>
         <br>
         <br>
         <br>
         <p>du <input type = "text" name = "du" value="" /> (enter target DU)</p>
         <p>sws <input type = "text" name = "sws" value="" /> (enter single-space separated switches to operate)</p> 
         <p>state <input type = "text" name = "state" value="" /> (enter desired switch state)</p> 
         <p><input type = "submit" value = "submit" name = "submit" /></p>
         <br>
         {{msg}}
         <br>
         <br>
         <!-- {{resp}}
         <br>
         <br> -->
         <div>
            {{ table | safe }}
         </div>
      </form>
   </body>
</html>



