<html>
   <body>
      <br>
      <br>
      ######################################## BASEMODULE SERVER ########################################
      <br>
      <br>
      <br>
      <br>
      ### <a href=  "{{ url_for('f_sensors') }}">  SENSOR MONITORING PAGE</a>
      <br>
      <br>
      ### <a href="{{ url_for('f_swcontrol') }}">  SWITCH CONTROL PAGE</a> (authentication needed)
      <br>
      <br>
      ### <a href="{{ url_for('f_rescue') }}">  RESCUE CONTROL PAGE</a> (authentication needed)
      <br>
      <br>
      ### To dump JSON sensor readings for [DUID] DU use /dumpsensor/[DUID]
      <br>
      <br>
      <br>
      <br>
      ###################################################################################################
   </body>
</html>



