<html>
   <body>
      <form action = "{{ url_for('f_sensors') }}" method = "POST">
         <br>
         ######################################## BASEMODULE SERVER ########################################
         <br>
         ################################################# <a href="{{ url_for('f_help') }}">HOME</a> ###############################################
         <br>
         <br>
         <br>
         <p>
         DU(s) = <input type = "text" name = "du" value= {{prefilldu}} /> (comma or single-space separated)
         <input type = "submit" value = "READ" name = "submit" style="background-color:blue;color:white"/>
         </p>
         <br>
         <br>
         <br>
         {{msg}}
         <br>
         <br>
         <div>
            {{ table | safe }}
         </div>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br> 
         ###################################################################################################
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>         
         <br>
         <br>
         <br>
         <br>
         <br> 
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         {{datajson}}

      </form>
   </body>
</html>



